<div class="top-page__whole-wrapper">
  <div class="top-page__upper-container">
    <div class="top-page__upper-left-container">
      <div class="top-page__upper-box">
        <h1 class="top-page__app-title">Brain Camp!</h1>
      </div>
      <div class="top-page__lower-box">
        <p class="top-page__concept-description">
          "Boost Your Brain, Break the Records"
        </p>
        <p class="top-page__by-all-member">by ktkt</p>
      </div>
    </div>
    <div class="top-page__upper-right-container">
      <%= image_tag "top-page-images/brain-camp-main-image.png", class: "top-page__brain-camp-image", alt: "Brain Campのイメージ", width: 600, height: 450 %>
    </div>
  </div>

  

  <div class="top-page__lower-container">
    <div class="top-page__left-box">
       <div class="top-page__section-title">GAME SELECT</div>
      <div class="top-page__left-game-box">
        <div class="top-page__game-box">
          <%= link_to games_color_rock_paper_sicissors_path do %>
            <%= image_tag "top-page-images/color_rock_paper_sicissors_title.svg", class: "top-page__color-rock-paper-scissors-img", alt: "色勝ちじゃんけん" %>
          <% end %>
          <div class="top-page__trophy-box">
            <%= image_tag "top-page-images/trophy.svg", class: "top-page__trophy-image", alt: "トロフィーの画像", width: 60, height: 60,data: { game: "color_rock_paper_sicissors" } %>
          </div>
        </div>

        <div class="top-page__game-box">
          <%= link_to games_number_master_path do %>
            <%= image_tag "top-page-images/number-master_title.svg", class: "top-page__number-master-img" ,alt: "数の達人"%>
          <% end %> 
          <div class="top-page__trophy-box">
            <%= image_tag "top-page-images/trophy.svg", class: "top-page__trophy-image", alt: "トロフィーの画像", width: 60, height: 60,data: { game: "number_master" }%>
          </div>
        </div>

        <div class="top-page__game-box">
          <%= link_to games_memory_square_path do %>
            <%= image_tag "top-page-images/memory-square_title.svg", class: "top-page__memory-square-img" ,alt: "覚えマス"%>
          <% end %>
          <div class="top-page__trophy-box">
            <%= image_tag "top-page-images/trophy.svg", class: "top-page__trophy-image", alt: "トロフィーの画像", width: 60, height: 60 ,data: { game: "memory_square" }%>
          </div>
        </div>
      </div>

      <div class="top-page__right-game-box" style="display: none;">
        <div class="top-page__game-box">
          イラスト
          <div class="top-page__game-name-box">
            <%= link_to 'あべこべカラーズ', games_reverse_colors_path, class: 'top-page__game-link' %>
          </div>
          <div class="top-page__trophy-box">
            <%= image_tag "top-page-images/trophy.svg", class: "top-page__trophy-image", alt: "トロフィーの画像", width: 60, height: 60,data: { game: "color_rock_paper_sicissors" } %>
          </div>
        </div>

        <div class="top-page__game-box">
          イラスト
          <div class="top-page__game-name-box">
            <%= link_to 'フィットザシェイプ', games_fit_the_shape_path, class: 'top-page__game-link' %>
          </div>
          <div class="top-page__trophy-box">
            <%= image_tag "top-page-images/trophy.svg", class: "top-page__trophy-image", alt: "トロフィーの画像", width: 60, height: 60 %>
          </div>
        </div>
      </div>
    </div>

    <div class="top-page__right-box">
       <div class="top-page__section-title">RANKING</div>
      <div class="top-page__ranking-box active"  data-game="color_rock_paper_sicissors">
        <div class="top-page__ranking-title-box" >
         <%= image_tag "top-page-images/trophy.svg", class: "top-page__ranking-trophy-image", alt: "トロフィーの画像", width: 50, height: 50 %>
          <h1>色勝ちじゃんけん </h1>
          <%= image_tag "top-page-images/trophy.svg", class: "top-page__ranking-trophy-image", alt: "トロフィーの画像", width: 50, height: 50 %>
        </div>
        <div class="top-page__ranking-number-list">
          <% if @color_rock_paper_sicissor.present? %>
             <% @color_rock_paper_sicissor.each_with_index do |ranking, index| %>
             <div class="top-page__ranking-number<%= index + 1 <= 3 ? index + 1 : ' other' %>">
               <div class="top-page__ranking-number-box">
                <span class="<%= index == 0 ? 'top-page__gold-number' : index == 1 ? 'top-page__silver-number' : index == 2 ? 'top-page__bronze-number' : '' %>">
                 <%= index + 1 %>位
                </span>
               </div>
               <div class="top-page__ranking-nickname-box"><%= ranking.nickname %></div>
                <div class="top-page__ranking-score-box"><%= ranking.score %></div>
             </div>
            <% end %>
          <% else %>
            <p>色勝ちじゃんけんのランキングデータがありません。</p>
          <% end %>
        </div>
      </div>

      <div class="top-page__ranking-box"  data-game="number_master">
        <div class="top-page__ranking-title-box">
         <%= image_tag "top-page-images/trophy.svg", class: "top-page__ranking-trophy-image", alt: "トロフィーの画像", width: 50, height: 50 %>
          <h1>数の達人</h1>
          <%= image_tag "top-page-images/trophy.svg", class: "top-page__ranking-trophy-image", alt: "トロフィーの画像", width: 50, height: 50 %>
        </div>
        <div class="top-page__ranking-number-list">
          <% if @number_master.present? %>
            <% @number_master.each_with_index do |ranking, index| %>
              <div class="top-page__ranking-number<%= index + 1 <= 3 ? index + 1 : ' other' %>">
                <div class="top-page__ranking-number-box">
                  <span class="<%= index == 0 ? 'top-page__gold-number' : index == 1 ? 'top-page__silver-number' : index == 2 ? 'top-page__bronze-number' : '' %>">
                 <%= index + 1 %>位
                </span>
                </div>
                <div class="top-page__ranking-nickname-box"><%= ranking.nickname %></div>
                 <div class="top-page__ranking-score-box"><%= ranking.score %></div>
              </div>
            <% end %>
          <% else %>
            <p>数の達人のランキングデータがありません。</p>
          <% end %>
        </div>
      </div>

      <div class="top-page__ranking-box"data-game="memory_square" >
        <div class="top-page__ranking-title-box">
          <%= image_tag "top-page-images/trophy.svg", class: "top-page__ranking-trophy-image", alt: "トロフィーの画像", width: 50, height: 50 %>
          <h1>覚えマス </h1>
          <%= image_tag "top-page-images/trophy.svg", class: "top-page__ranking-trophy-image", alt: "トロフィーの画像", width: 50, height: 50%>
       </div>
        <div class="top-page__ranking-number-list">
          <% if @memory_squares.present? %>
            <% @memory_squares.each_with_index do |ranking, index| %>
              <div class="top-page__ranking-number<%= index + 1 <= 3 ? index + 1 : ' other' %>">
                <div class="top-page__ranking-number-box">
                 <span class="<%= index == 0 ? 'top-page__gold-number' : index == 1 ? 'top-page__silver-number' : index == 2 ? 'top-page__bronze-number' : '' %>">
                   <%= index + 1 %>位
                </span>
                </div>
                <div class="top-page__ranking-nickname-box"><%= ranking.nickname %></div>
               <div class="top-page__ranking-score-box"><%= ranking.score %></div>
              </div>
            <% end %>
          <% else %>
            <p>覚えマスのランキングデータがありません。</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="top-page__footer">
  <p>&copy; 2024 ktkt. All rights reserved.</p>
</footer>
<%= javascript_include_tag 'top-page', defer: true %>
