<div class="results-page__top">
  <div class="result-page__left-side">
    <%= image_tag "result-page-images/Vector.svg", alt: "score背景", class: "score-background" %>

    <div class="result-page__score-name">score</div>
    <div class="result-page__score"></div>
    <div class="result-page__score-display">00.00秒!</div>

    <div class="result-page__Registration-form">
      <div class="result-page__username">記録を登録しますか？</div>
      <div class="result-page__form">
        <input type="text" placeholder="ニックネーム入力" class="result-page__name-form">
        <input type="submit" name="commit" value="登録" data-disable-with="登録" class="result-page__registration-button">
      </div>
    </div>

    <div class="result-page__container">
      <%= image_tag "result-page-images/Frame 89 (1).svg", alt:"フレーム画像", class:"result-page__frame" %>
      <%= link_to "リトライする", games_memory_square_path, class: "result-page__retry-button" %>
      <%= link_to "トップへ戻る", root_path, class: "result-page__back-to-home-button" %>
    </div>
  </div>

  <div class="result-page__right-side">
    <%= image_tag "result-page-images/e1140_1 1.svg", alt:"リザルト画面メッセージ", class:"result-page__right-message" %>
    <%= image_tag "result-page-images/undraw_winners_re_wr1l 1.svg", alt:"リザルト画面のイラスト", class:"result-page__right-image" %>
  </div>
</div>


