
  <%= stylesheet_link_tag 'results', media: 'all' %>
  <title>リザルト</title>
<div class="result-body">
  <div class="result-layer1">
    <div class="result-score">
      <div class="result-page__score-name">SCORE!!</div>
      <div class="result-page__score"></div>
      <div class="gameTime">ゲームタイム: 計測中...</div>
      <div class="result-page__Registration-form">
        <%= form_with(model: @number_master, url: results_create_number_master_path,class:"result-page__form", method: :post, id: "number-master-game-form", data: { game: "number_master" }, local: true) do |f| %>
          <%= f.text_field :nickname, placeholder: "ニックネーム入力", class: "result-page__name-form" %>
          <%= f.hidden_field :game_time, value: @game_time %>
          <%= f.submit "登録", class: "result-page__registration-button" %>
        <% end %>
      </div>
      <div class="hover-area">
        <div class="result-button">
          <div class="button-with-icon">
            <%= image_tag 'result-page-images/checkmark_default.svg', alt: "イラストA", class: "button-icon icon-A" %>
            <%= image_tag 'result-page-images/checkmark_orange.svg', alt: "イラストB", class: "button-icon icon-B" %>
            <%= image_tag 'result-page-images/checkmark_red.svg', alt: "イラストC", class: "button-icon icon-C" %>
            <%= link_to "リトライする", games_number_master_path, class: "result-page__retry-button" %>
          </div>
          <div class="button-with-icon">
            <%= image_tag 'result-page-images/checkmark_default.svg', alt: "イラストA", class: "button-icon icon-A" %>
            <%= image_tag 'result-page-images/checkmark_orange.svg', alt: "イラストB", class: "button-icon icon-B" %>
            <%= image_tag 'result-page-images/checkmark_red.svg', alt: "イラストC", class: "button-icon icon-C" %>
            <%= link_to "トップへ戻る", root_path, class: "result-page__back-to-home-button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <div class="result-layer2">
    <%= image_tag 'result-page-images/decoration.svg', alt: "score背景", class: "score-background" %>
    <%= image_tag 'result-page-images/results_speech_bubble_down.svg', alt: "フレーム画像", class: "result-page__frame" %>
    <%= image_tag 'result-page-images/results_speech_bubble_up.svg', alt: "リザルト画面メッセージ", class: "result-page__right-message" %>
  </div>
  
  <div class="result-layer3">
    <%= image_tag 'result-page-images/results_image.svg', alt: "リザルト画面のイラスト", class: "result-page__right-image" %>
  </div>
</div>



