<!-- ゲーム画面の全体の表示 -->
<div class="game-page__GameScreenBase">
  <!-- 効果音、音楽 -->
    <audio id="win-sound" src="<%= asset_path('color-true.mp3') %>" preload="auto"></audio>
    <audio id="lose-sound" src="<%= asset_path('color-false.mp3') %>" preload="auto"></audio>
    <audio id="back-bround-music-id" src="<%= asset_path('thinkingtime13.mp3') %>" preload="auto"></audio>
    <audio id="countDown-id" src="<%= asset_path('Countdown03-2.mp3') %>" preload="auto"></audio>
    <audio id="game-End-Sound-id" src="<%= asset_path('gameEndSound.mp3') %>" preload="auto"></audio>
  <!-- タイトルに戻るボタンの表示 -->
  <%= link_to root_path, class: "game-page__BackTitleButton" do %>
     <%= image_tag "GameMaterial/GameScreenImage/GameBaseImage/top-page__BackButtonImage.png", width: 48, height: 30, alt: "代替テキスト" %>   
  <% end %>
  <!-- タイトルに戻るボタンの表示ここまで -->
  <div class="color_rock_paper_sicissors-MainGameScreen">
    <div class="color_rock_paper_sicissors-tutorial-movie-screen" >
      <%= video_tag "color_rock_paper_sicissors-tutorial-movie.mp4", controls: true, autoplay: false, loop: true, class: "color_rock_paper_sicissors-tutorial-movie" %>
      <div class="color_rock_paper_sicissors-tutorial-description-wrapper">
        <div class="base-color_rock_paper_sicissors-titel">
          <div class="color_rock_paper_sicissors_color-win-titel">色勝ち</div>
          <div class="color_rock_paper_sicissors_titel">じゃんけん</div>
        </div>
        <%= image_tag "GameMaterial/GameScreenImage/color_rock_paper_sicissors_Image/item/playButton.png", alt: "動画再生ボタン", class: "color_rock_paper_sicissors_play-tutorial-image" %>
        <div class="base-explanatory-text">
          <div class="explanatory-text color_rock_paper_sicissors-explanatory-text1">
            <%= image_tag "GameMaterial/GameScreenImage/color_rock_paper_sicissors_Image/item/playButton.png", class: "explanatory-text-play-button" %>
            を押して説明の動画をみよう！
          </div>
          <div class="explanatory-text color_rock_paper_sicissors-explanatory-text2">
            ゲームがしたいときは下のボタンを押してね！
          </div>
        </div>
      </div>
    </div>
    <div class="item_user-interface">
       <div class="result-feedback" id="result-feedback"></div>
      <!--スコアの表示-->
      <div class="color_rock_paper-score_text">
        <span id="color_rock_paper-score_id">0</span>
      </div>
      <!--スコアの表示ここまで-->
      <%= image_tag "" ,id:"game-start-button_image_id", class:"game-start-button_image", style: "display: none;"%>
      <!--ゲームが終了したとき表示する画像-->
      <%= image_tag "" ,id:"game-End_Image_Id", class:"game-end-image", style: "display: none;"%>
      <!--ゲームが終了したとき表示する画像ここまで-->
      <!-- コンピューターが出す手を表示 -->
      <%= image_tag "GameMaterial/GameScreenImage/color_rock_paper_sicissors_Image/computer/computer_1_image.png", id: "color_rock_paper_computer_id", style:"display: none;" %>
      <!-- コンピューターが出す手を表示ここまで -->

      <!-- 制限時間のゲージ表示 -->
       <div class="time-limit_gauge">
        <div style="height: 100%" id="time-limit_gauge_id"></div>
      </div>
      <div class="instructions_text">
        <span style="color:blue">青</span>には勝ち、<span style="color:red">赤</span>には負けてみよう！
      </div>
      <div class="base-color_rock_paper_sicissors-combo-contents" id="base-color_rock_paper_sicissors-combo-contents_id">
        <div class="color_rock_paper-score_combo_number">
        </div>
        <div class="color_rock_paper-score_combo_combo">
          comdo!!
        </div>
      </div>
      <!-- 制限時間のゲージ表示ここまで -->
    </div>
    <!-- コンピューターが出す手を表示ここまで -->
    <!-- じゃんけんのグー、チョキ、パーのボタン -->
    <div class="color_rock_paper_choices_base">
      <div class="color_rock_paper_frame">
        <button><%= image_tag "GameMaterial/GameScreenImage/color_rock_paper_sicissors_Image/player/rock_image.png", alt:"グー", class: "color_rock_paper_choices", id: "rock_image_id"%></button>
      </div>
      <div class="color_rock_paper_frame">
        <button><%= image_tag "GameMaterial/GameScreenImage/color_rock_paper_sicissors_Image/player/scissors_image.png", alt:"チョキ", class: "color_rock_paper_choices", id: "scissors_image_id" %></button>
      </div>
      <div class="color_rock_paper_frame">
        <button><%= image_tag "GameMaterial/GameScreenImage/color_rock_paper_sicissors_Image/player/paper_image.png", alt:"パー", class: "color_rock_paper_choices", id: "paper_image_id" %></button>
      </div>
    </div>
    <!-- じゃんけんのグー、チョキ、パーのボタンここまで -->
  </div>
   <!-- ゲームスタートボタン -->
  <button id="color_rock_paper_gameStartButton_id" class="game-page__GameStartButton">ゲームスタート</button>
  
  <!-- ゲームスタートボタンここまで -->
</div>
<!-- ゲーム画面の全体の表示ここまで -->
<%# <footer class="top-page__footer"> %>
    <%# <p>&copy; 2024 ktkt. All rights reserved.</p> %>
<%# </footer> %>
