<!-- ゲーム画面の全体ラップ -->
<div class="memory-square__GameScreenBase">
  <audio id="memory-square__bgm-audio" src="<%= asset_path 'memory-square-bgm.mp3' %>" preload="auto"></audio>
  <audio id="memory-square__fever-bgm" src="<%= asset_path 'memory-square-fever-bgm.mp3' %>" preload="auto"></audio>
  <audio id="memory-square__correct-sound" src="<%= asset_path 'correct-answer.mp3' %>" preload="auto"></audio>
  <audio id="memory-square__wrong-sound" src="<%= asset_path 'wrong-answer.mp3' %>" preload="auto"></audio>
  <audio id="memory-square__fever-sound" src="<%= asset_path 'fever-scratch.mp3' %>" preload="auto"></audio>
  <audio id="memory-square__fever-voice" src="<%= asset_path 'fever-sound.mp3' %>" preload="auto"></audio>
  <audio id="memory-square__square-appearance-sound" src="<%= asset_path 'square-appearance.mp3' %>" preload="auto"></audio>
  <audio id="memory-square__countdown-sound" src="<%= asset_path 'Countdown03-2.mp3' %>" preload="auto"></audio>
  <audio id="memory-square__end-sound" src="<%= asset_path 'end-sound.mp3' %>" preload="auto"></audio>
  <audio id="game-start-id" src="<%= asset_path('game-play-click.mp3') %>" preload="auto"></audio>
  <audio id="game-return-id" src="<%= asset_path('game-return-click-sound.mp3') %>" preload="auto"></audio>
  

  <!-- タイトル画面に戻るボタン -->
  <%= link_to root_path, class: "memory-square__BackTitleButton" do %>
    <%= image_tag "GameMaterial/GameScreenImage/GameBaseImage/top-page__BackButtonImage.png", width: 48, height: 30, alt: "代替テキスト" %>
  <% end %>

  <!-- ゲームのメインスクリーン -->
  <div class="memory-square__game-screen">

    <div class="memory-square__countdown-screen" style="display: none;">
    </div>

    <!-- チュートリアル画面 -->
    <div class="memory-square__tutorial-movie-screen" >
      <%= video_tag "memory-square-tutorial-movie.mp4", controls: true, autoplay: false, loop: false, class: "memory-square__tutorial-movie", preload: "auto" %>
      <div class="memory-square__tutorial-description-wrapper">
        <div class="memory-square__upper-tutorial-container">
          <div class="memory-square__title-container">
            <div class="memory-square__number-container">
              <div class="memory-square__upper-number">
                <div>1</div>
                <div>2</div>
              </div>
              <div class="memory-square__lower-number">
                <div>3</div>
                <div>4</div>
              </div>
            </div>
            <h1 class="memory-square__title">覚えマス</h1>
          </div>
        </div>
        <div class="memory-square__middle-tutorial-container">
          <div class="memory-square__play-tutorial-box">
            <%= image_tag "memory-square-images/play-tutorial.svg", alt: "動画再生ボタン", class: "memory-square__play-tutorial-image" %>
          </div>
        </div>
        <div class="memory-square__lower-tutorial-container">
          <h1 class="memory-square__watch-tutorial">ゲーム説明を見る</h1>
          <div class="memory-square__square-image-container">
            <div class="memory-square__upper-square">
              <div>覚</div>
              <div>え</div>
              <div></div>
            </div>
            <div class="memory-square__middle-square">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="memory-square__lower-square">
              <div></div>
              <div>マ</div>
              <div>ス</div>
            </div>
          </div>
        </div>

      </div> 
    </div>

    <div class="memory-square__combo-container" style="display: none;">
      <div class="memory-square__fever-time" style ="display: none;">
        Fever!!
      </div>
      <div class="memory-square__combo-number">
      </div>
      <span id="memory-square__combo-combo">
        combo!!
      </span>
    </div>


    <!-- スコアボックスと問題ボックスの配置 -->
    <div class="memory-square__upper-container">

      <div class="memory-square__count-box">
        <div id="memory-square__progress-circle">
          <div id="memory-square__progress-count">60</div>
        </div>
      </div>
      <!-- スコアを表示するボックス -->
      <div class="memory-square__score-box">0</div>
      <!-- 質問を表示するボックス -->
      <div class="memory-square__question-box"></div>
    </div>

    <!-- メインのゲームテーブル（メモリースクエア） -->
    <div class="memory-square__middle-container">
      <table class="memory-square__table" cellspacing="0">
        <tr>
          <td id="memory-square__td1"></td>
          <td id="memory-square__td2"></td>
          <td id="memory-square__td3"></td>
        </tr>
        <tr>
          <td id="memory-square__td4"></td>
          <td id="memory-square__td5"></td>
          <td id="memory-square__td6"></td>
        </tr>
        <tr>
          <td id="memory-square__td7"></td>
          <td id="memory-square__td8"></td>
          <td id="memory-square__td9"></td>
        </tr>
      </table>
    </div>

    <!-- 数字の入力用テーブル -->
    <div class="memory-square__lower-container">
      <table class="memory-square__number-table" cellspacing="15px">
        <tr>
          <td class="memory-square__number-one">1</td>
          <td class="memory-square__number-two">2</td>
          <td class="memory-square__number-three">3</td>
          <td class="memory-square__number-four">4</td>
        </tr>
      </table>
    </div>

  </div>

  <!-- ゲームスタートボタン -->
  <button class="memory-square__GameStartButton" id="memory-square__game-start-button">ゲームスタート</button>

</div>

<footer class="top-page__footer">
  Music: Made With Suno
</footer>
